In [23]:
import pandas as pd

# load dataset
house = pd.read_csv('Housing.csv')

In [24]:
# membaca informasi dataset
house.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 545 entries, 0 to 544
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   price             545 non-null    int64
 1   area              545 non-null    int64
 2   bedrooms          545 non-null    int64
 3   bathrooms         545 non-null    int64
 4   stories           545 non-null    int64
 5   mainroad          545 non-null    object
 6   guestroom         545 non-null    object
 7   basement          545 non-null    object
 8   hotwaterheating   545 non-null    object
 9   airconditioning   545 non-null    object
 10  parking           545 non-null    int64
 11  prefarea          545 non-null    object
 12  furnishingstatus  545 non-null    object
dtypes: int64(6), object(7)
memory usage: 55.5+ KB

In [25]:
# menampilkan isi dataset
house.head()

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished

In [26]:
house.drop('stories', axis=1, inplace=True)
house.drop('prefarea', axis=1, inplace=True)

In [27]:
house.head(5)

,price,area,bedrooms,bathrooms,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,furnishingstatus
0,13300000,7420,4,2,yes,no,no,no,yes,2,furnished
1,12250000,8960,4,4,yes,no,no,no,yes,3,furnished
2,12250000,9960,3,2,yes,no,yes,no,no,2,semi-furnished
3,12215000,7500,4,2,yes,no,yes,no,yes,3,furnished
4,11410000,7420,4,1,yes,yes,yes,no,yes,2,furnished

In [28]:
house.replace({'yes': 1, 'no': 0}, inplace=True)

C:\Users\bacht\AppData\Local\Temp\ipykernel_4324\1149911386.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  house.replace({'yes': 1, 'no': 0}, inplace=True)

In [29]:
house.head(5)

,price,area,bedrooms,bathrooms,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,furnishingstatus
0,13300000,7420,4,2,1,0,0,0,1,2,furnished
1,12250000,8960,4,4,1,0,0,0,1,3,furnished
2,12250000,9960,3,2,1,0,1,0,0,2,semi-furnished
3,12215000,7500,4,2,1,0,1,0,1,3,furnished
4,11410000,7420,4,1,1,1,1,0,1,2,furnished

In [30]:
# Apply One-Hot Encoding to the 'furnishingstatus' column
house_encoded = pd.get_dummies(house, columns=['furnishingstatus'], drop_first=True)

# View the first few rows of the encoded dataset
print(house_encoded.head())

      price  area  bedrooms  bathrooms  mainroad  guestroom  basement  \
0  13300000  7420         4          2         1          0         0
1  12250000  8960         4          4         1          0         0
2  12250000  9960         3          2         1          0         1
3  12215000  7500         4          2         1          0         1
4  11410000  7420         4          1         1          1         1

   hotwaterheating  airconditioning  parking  furnishingstatus_semi-furnished  \
0                0                1        2                            False
1                0                1        3                            False
2                0                0        2                             True
3                0                1        3                            False
4                0                1        2                            False

   furnishingstatus_unfurnished
0                         False
1                         False
2                         False
3                         False
4                         False

In [31]:
house.head(10)

,price,area,bedrooms,bathrooms,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,furnishingstatus
0,13300000,7420,4,2,1,0,0,0,1,2,furnished
1,12250000,8960,4,4,1,0,0,0,1,3,furnished
2,12250000,9960,3,2,1,0,1,0,0,2,semi-furnished
3,12215000,7500,4,2,1,0,1,0,1,3,furnished
4,11410000,7420,4,1,1,1,1,0,1,2,furnished
5,10850000,7500,3,3,1,0,1,0,1,2,semi-furnished
6,10150000,8580,4,3,1,0,0,0,1,2,semi-furnished
7,10150000,16200,5,3,1,0,0,0,0,0,unfurnished
8,9870000,8100,4,1,1,1,1,0,1,2,furnished
9,9800000,5750,3,2,1,1,0,0,1,1,unfurnished

In [32]:
X = house[['area', 'bedrooms', 'bathrooms', 'mainroad', 'guestroom', 'basement', 'hotwaterheating', 'airconditioning', 'parking', 'furnishingstatus']]
y = house['price']

# memisahkan menjadi data latih dan data uji
from sklearn.model_selection import train_test_split, GridSearchCV
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1, random_state=123)

In [33]:
param_grid = {
    'max_depth': [3, 5, 10, None],
    'min_samples_split': [2, 5, 10],
    'min_samples_leaf': [1, 2, 4],
    'max_features': [None, 'sqrt', 'log2']
}

In [34]:
# mendifinisikan model
from sklearn.tree import DecisionTreeRegressor

tree = DecisionTreeRegressor(random_state=123)

# tree_model = tree_model.fit(X_train, y_train)
# Set up GridSearchCV for hyperparameter tuning
grid_search = GridSearchCV(estimator=tree, param_grid=param_grid, 
                           scoring='r2', cv=5, verbose=1)

In [74]:
# Fit the model to the training data
grid_search.fit(X_train, y_train)

# Get the best parameters and the best score
best_params = grid_search.best_params_
best_score = grid_search.best_score_

print(f'Best Parameters: {best_params}')
print(f'Best R-squared Score: {best_score}')

# Predict on test data using the best estimator
y_pred = grid_search.best_estimator_.predict(X_test)

# Calculate Mean Squared Error and R-squared for test set
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print(f'Mean Squared Error on Test Set: {mse:.3f}')
print(f'R-squared on Test Set: {r2:.3f}')

Fitting 5 folds for each of 108 candidates, totalling 540 fits
Best Parameters: {'max_depth': 5, 'max_features': 'sqrt', 'min_samples_leaf': 2, 'min_samples_split': 10}
Best R-squared Score: 0.4684820098434644
Mean Squared Error on Test Set: 2140471316780.293
R-squared on Test Set: 0.416

In [67]:
# evaluasi model
from sklearn.metrics import mean_squared_error, r2_score

mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print(f'Mean Squared Error: {mse:.3f}')
print(f'R-squared: {r2:.3f}')

Mean Squared Error: 2284956764656.364
R-squared: 0.376

In [76]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, confusion_matrix

# Load dataset
house = pd.read_csv('Housing.csv')

# Drop irrelevant columns
house.drop('stories', axis=1, inplace=True)
house.drop('prefarea', axis=1, inplace=True)

# Replace 'yes'/'no' with 1/0
house.replace({'yes': 1, 'no': 0}, inplace=True)

# Encode 'furnishingstatus' using LabelEncoder
label_encoder = LabelEncoder()
house['furnishingstatus'] = label_encoder.fit_transform(house['furnishingstatus'])

# Binning price into two categories: 'mahal' and 'murah'
median_price = house['price'].median()
house['price_category'] = (house['price'] > median_price).astype(int)  # 1 for 'mahal', 0 for 'murah'

# Define features and target
X = house[['area', 'bedrooms', 'bathrooms', 'mainroad', 'guestroom', 'basement', 
            'hotwaterheating', 'airconditioning', 'parking', 'furnishingstatus']]
y = house['price_category']

# Split into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1, random_state=123)

# Initialize and train Logistic Regression model
logistic_model = LogisticRegression()
logistic_model.fit(X_train, y_train)

# Predict on test data
y_pred = logistic_model.predict(X_test)

# Calculate accuracy and confusion matrix
acc_score = accuracy_score(y_test, y_pred)
conf_matrix = confusion_matrix(y_test, y_pred)

print(f'Accuracy: {acc_score:.3f}')
print('Confusion Matrix:')
print(conf_matrix)

C:\Users\bacht\AppData\Local\Temp\ipykernel_13916\1629768251.py:15: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  house.replace({'yes': 1, 'no': 0}, inplace=True)

Accuracy: 0.782
Confusion Matrix:
[[18  6]
 [ 6 25]]

E:\bachtiar\notebook\Lib\site-packages\sklearn\linear_model\_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [77]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

# Load dataset
house = pd.read_csv('Housing.csv')

# Drop irrelevant columns
house.drop('stories', axis=1, inplace=True)
house.drop('prefarea', axis=1, inplace=True)

# Replace 'yes'/'no' with 1/0
house.replace({'yes': 1, 'no': 0}, inplace=True)

# Encode 'furnishingstatus' using LabelEncoder
label_encoder = LabelEncoder()
house['furnishingstatus'] = label_encoder.fit_transform(house['furnishingstatus'])

# Define features and target
X = house[['area', 'bedrooms', 'bathrooms', 'mainroad', 'guestroom', 'basement', 
            'hotwaterheating', 'airconditioning', 'parking', 'furnishingstatus']]
y = house['price']

# Split into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1, random_state=123)

# Initialize and train Linear Regression model
linear_model = LinearRegression()
linear_model.fit(X_train, y_train)

# Predict on test data
y_pred = linear_model.predict(X_test)

# Calculate Mean Squared Error and R-squared for test set
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

print(f'Mean Squared Error: {mse:.3f}')
print(f'R-squared: {r2:.3f}')

C:\Users\bacht\AppData\Local\Temp\ipykernel_13916\1969424593.py:15: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  house.replace({'yes': 1, 'no': 0}, inplace=True)

Mean Squared Error: 1193066723183.360
R-squared: 0.674